@model SREA.Models.Equipo

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Equipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Equipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Lista")
</p>
