@model SREA.Models.Solicitud

@{
    ViewBag.Title = "Solicitud - Eliminar";
}

<h2>Eliminar Solicitud</h2>

<h3>¿Esta seguro que desea elinminar la Solicitud?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persona.Nick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Nick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salon.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salon.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad_Inscritos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad_Inscritos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Solicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-success" /> |
        </div>
    }
</div>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Solicitudes")'">Regresar</button>