@model IEnumerable<SREA.Models.Respuesta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Solicitud.Tema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Respuesta_Dada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Solicitud.Tema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Respuesta_Dada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Respuesta }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Respuesta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Respuesta })
        </td>
    </tr>
}

</table>
