<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #A0C4A0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Lista de Salones", "About", "Home")</li>
                    <li>@Html.ActionLink("Quienes Somos", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Cuenta", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Opciones Usuario<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Login", "Login", "Personas")</li>
                            <li>@Html.ActionLink("Login out", "LoginOut", "Personas")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="container" style="text-align:center;">
            <img src="~/Content/img/encabezado.jpg" style="width: 70%;" />
        </div>
    </div>
    <br />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="background-color: #003b36">
            <div class="row">
                <div class="container" style="text-align: center;">
                    
                    <font color="white">Sede Principal Fusagasugá - Diagonal 18 No. 20-29 PBX 1-828 1483 - Fax 1-8732554 - email: unicundi@mail.unicundi.edu.co</font><br>
                    <font color="white">Institución de Educación Superior Sujeta a Inspección y Vigilancia por el Ministerio de Educación Nacional </font>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
