<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="row expandir" style="width:100%; background-color: white;">
        <div class="container" style="text-align:center;">
            <img src="~/Content/img/encabezado.jpg" style="width: 70%;" />
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #003b36; position: relative;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Como Funciona", "About", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Salones<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li>@Html.ActionLink("Listado del Espacio Academico", "Lista", "Salones")</li>
                          <li>@Html.ActionLink("Espacio Academico Apartado", "Lista", "Salones")</li>
                          <li>@Html.ActionLink("Opciones del Espacio Academico", "Index", "Solicitudes")</li>
                            @if (Session["ID_Persona"] != null)
                            {
                                <li>@Html.ActionLink("Opciones del Espacio Academico", "Index", "Solicitudes")</li>
                                <li>@Html.ActionLink("Consulta mis Espacios Academicos", "Index", "Solicitudes")</li>
                                <li>@Html.ActionLink("Respuesta por el Administrador", "Index", "Solicitudes")</li>

                            }
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Quienes Somos", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Cuenta", "Contact", "Home")</li>
                    @if (Session["ID_Persona"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Personas")</li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido @Session["Nombre_Usuario"].ToString()<b class="caret"></b></a>
                            <ul class="dropdown-menu">  
                                @if (Session["Privilegio"].Equals("3"))
                                {
                                    <li>@Html.ActionLink("Administrar", "Administrar", "Personas")</li>
                                }
                                @if (Session["ID_Persona"] != null)
                                {
                                    <li>@Html.ActionLink("Login out", "LoginOut", "Personas")</li>
                                }

                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <br />

    <br />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="background-color: #003b36">
            <div class="row">
                <div class="container" style="text-align: center;">
                    
                    <font color="white">Sede Principal Fusagasugá - Diagonal 18 No. 20-29 PBX 1-828 1483 - Fax 1-8732554 - email: unicundi@mail.unicundi.edu.co</font><br>
                    <font color="white">Institución de Educación Superior Sujeta a Inspección y Vigilancia por el Ministerio de Educación Nacional </font>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
