@model SREA.Models.Persona

@{
    ViewBag.Title = "Panel de Administracion";
}

<h2>Panel de Administracion</h2>
<br />
<h4>Planta Fisica y laboratorios</h4>

<font>En esta Seccion se podra administrar los Edificios y Salones que lo Integran:</font>
<br />
<ul class="list-group">
    <li class="list-group-item active list-group-item-heading"><span class="glyphicon glyphicon-cog"></span><font color="white"> Planta y Laboratorios</font></li>
    <li class="list-group-item"><span class="glyphicon glyphicon-th-large"></span>@Html.ActionLink(" Edificios", "Index", "Edificios")</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-th-large"></span>@Html.ActionLink(" Salones", "Index", "Salones")</li>
</ul>

<h4>Equipo e Inventario</h4>
<font>En esta Seccion se podra administrar los equipos e inventarios con que cuenta la universidad:</font>
<br />
<ul class="list-group">
    <li class="list-group-item active list-group-item-heading"><span class="glyphicon glyphicon-cog"></span><font color="white"> Planta y Laboratorios</font></li>
    <li class="list-group-item"><span class="glyphicon glyphicon-hdd"></span>@Html.ActionLink(" Tipo de Equipos", "Index", "Equipos")</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-phone"></span>@Html.ActionLink(" Inventario", "Index", "Inventarios")</li>
</ul>

<h4>Usuarios</h4>
<br />
<font>En esta Seccion podra consultar, ingresar, modificar y eliminar los usuarios que se encuentren registados:</font>
<ul class="list-group">
    <li class="list-group-item active list-group-item-heading"><span class="glyphicon glyphicon-cog"></span><font color="white"> Usuarios</font></li>
    <li class="list-group-item"><span class="glyphicon glyphicon-user"></span>@Html.ActionLink(" Lista Usuarios", "Listado_Usuarios", "Personas")</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>@Html.ActionLink(" Agregar", "Create", "Personas")</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-edit"></span>@Html.ActionLink(" Modificar o Eliminar", "Modificar", "Personas")</li>
</ul>

<h4>Buzon de Mensajes</h4>
<br />
<font>En esta Seccion podra consultar, ingresar, modificar y eliminar los mensajes del Buzon de Mensaje:</font>
<ul class="list-group">
    <li class="list-group-item active list-group-item-heading"><span class="glyphicon glyphicon-cog"></span><font color="white"> Buzon</font></li>
    <li class="list-group-item"><span class="glyphicon glyphicon-user"></span>@Html.ActionLink(" Listado de Mensajes ", "Index", "Contactenos")</li>
</ul>

