@model IEnumerable<SREA.Models.Inventario>

@{
    ViewBag.Title = "Lista";
}
<h2>Listado del Inventario</h2>


<table class="table">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Equipo.Tipo_Equipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salon.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            Opciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Equipo.Tipo_Equipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salon.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID_Inventario })

            </td>
        </tr>
    }

</table>

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Inventarios")'">Regresar</button>