@model IEnumerable<SREA.Models.Dia_Apartado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Solicitud.Tema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Apartada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_Comienzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_Terminado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Solicitud.Tema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Apartada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_Comienzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_Terminado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Dia_Apartado }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Dia_Apartado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Dia_Apartado })
        </td>
    </tr>
}

</table>
